.faq_container{
    width: 100%;
    margin: 80px auto;
}
.faq_head_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid red; */
}
.faq_head_div >div{
    display: flex;
    align-items: center;
}

.faq_head2{
    margin-top: 10px;
    color: #8528A6;
    font-size: 3em;
    /* text-align: center; */
}
.faq_head_div>div>div{
    padding-right: 20px;
    text-align: center;
}
.faq_ul{
    position: relative;
    top: -50px;
}
 .faq_li{

    color: white;
    font-weight: 500;
    width: 80%;
    /* background: radial-gradient(109.09% 4370.66% at 20% 637.5%, #8528A6 30%, #21A4CE 30%, #1E96C8 60.83%); */
    background-image: url('../../Assets/Rectangle\ 126.png');
    padding: 20px 20px;
    margin: 10px auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.faq_li>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more_data_div{
    /* background-image: url('../../Assets/Rectangle\ 134.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    margin: 10px auto; */
    box-shadow: 0px 57px 57px rgba(113, 16, 147, 0.11), 0px 23.8132px 23.8132px rgba(113, 16, 147, 0.079074), 0px 12.7317px 12.7317px rgba(113, 16, 147, 0.0655718), 0px 7.13728px 7.13728px rgba(113, 16, 147, 0.055), 0px 3.79056px 3.79056px rgba(113, 16, 147, 0.0444282), 0px 1.57734px 1.57734px rgba(113, 16, 147, 0.030926);
    width: 80%;
    margin: 10px auto;
    background: #EFF7FC;
    /* height: 30vh; */

    /* color: white; */
    font-weight: 500;
    padding: 20px 20px;
    border-radius: 10px;
    transition: 2s;

}
/* @media (prefers-reduced-motion: no-preference) {
    .more_data_div {
      animation: App-logo-spin 1 2s linear;
    }
  }
@keyframes App-logo-spin {
    from {
      transform: translateY('0px');
    }
    to {
      transform: translateY('50px') ;
    }
  } */
.more_data_div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more_data_div>div:hover,.faq_li>div:hover{
    cursor: pointer;
}
.faq_para{
    margin-top: 10px;
}
.active{
    font-size: 1.3em;
    background: linear-gradient(to right, #330867  0%,#3088d0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.faq_para{
    width: 90%;
}
.faq_sub_ul{
    margin-top: 10px;
}
.faq_sub_ul>li{
    margin-top: 5px;
}
ol{
    /* margin-left: 0px; */
    padding-left: 20px;
    margin-top: 10px;
    width: 95%;
    /* margin: 10px auto; */
}