.tokonomics_card_main_div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.card_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    /* color:; */
    width: 350px;
    height: 376px;
   background: #EFF7FC;
   backdrop-filter: blur(4px);
  border-radius: 25px;
  margin: 0px 10px;
  padding: 0px 20px;
  text-align: center;
}
.card_div:hover{
    box-shadow: 0px 76px 156px rgba(113, 16, 147, 0.14), 0px 31.751px 65.1731px rgba(113, 16, 147, 0.10064), 0px 16.9756px 34.8446px rgba(113, 16, 147, 0.083455), 0px 9.51638px 19.5336px rgba(113, 16, 147, 0.07), 0px 5.05408px 10.3742px rgba(113, 16, 147, 0.056545), 0px 2.10311px 4.31692px rgba(113, 16, 147, 0.0393604);
    transition: 2s;
}
.card_div p{
    margin-top: 15px;
}
.text_img{
    margin-top: 10px;
}
.card_img{
    position: absolute;
    top: -70px; 
    text-align: center;
}